.notice {
    position: fixed;
    min-width: 320px;

    top: calc(var(--spacing) * 2);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background: #842121;
    left: 50%;
    transform: translateX(-50%);
    padding-block: var(--spacing);
    padding-inline: calc(var(--spacing) * 2);
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--spacing);
}

.controls {
    margin-left: auto;
}
